* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login_index_body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #361b2e;
    overflow: hidden;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: #191919;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_index_h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    transition: .5s ease;
}

.input-check:checked~.login_index_h2 {
    color: #d400ff;
    text-shadow:
        0 0 15px #d400ff,
        0 0 30px #d400ff;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
}

.input-box .input-line {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: #fff;
    transition: .5s ease;
}

.input-check:checked~.input-box .input-line {
    background: #d400ff;
    box-shadow: 0 0 10px #d400ff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
    top: -5px;
}


.input-check:checked~.input-box label {
    color: #d400ff;
    text-shadow: 0 0 10px #d400ff;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
    transition: .5s ease;
}

.input-check:checked~.input-box input {
    color: #d400ff;
    text-shadow: 0 0 5px #d400ff;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
    transition: .5s ease;
}

.input-check:checked~.input-box .icon {
    color: #d400ff;
    filter: drop-shadow(0 0 5px #d400ff);
}

.login_index_button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #191919;
    font-weight: 500;
    transition: .5s ease;
}

.glowing-light {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 10px;
    background: #d400ff;
    border-radius: 20px;
}

.input-check:checked~.login_index_button {
    background: #d400ff;
    box-shadow: 0 0 15px #d400ff, 0 0 15px #d400ff;
}

.wishes_index {
    color: #fff;
    font-size: .9em;
    text-align: center;
    margin: 25px 0 10px;
    transition: .5s ease;
}

.input-check:checked~.wishes_index {
    color: #d400ff;
    text-shadow: 0 0 10px #d400ff;
}

.wishes_index p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color .5s ease;
}

.wishes_index p a:hover {
    text-decoration: underline;
}

.input-check:checked~.wishes_index p a {
    color: #d400ff;
}


.light {
    position: absolute;
    top: -200%;
    left: 0;
    width: 100%;
    height: 950px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3) -50%, rgba(255, 255, 255, 0) 90%);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    pointer-events: none;
    transition: .5s ease;
}

.input-check:checked~.light {
    top: -90%;
}

.toggle {
    position: absolute;
    top: 20px;
    right: -70px;
    width: 60px;
    height: 120px;
    background: #191919;
    border-radius: 10px;
}

.toggle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 80%;
    background: #000;
}

.toggle::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background: #333;
    border: 2px solid #191919;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: .5s ease;
}

.input-check:checked~.toggle::after {
    top: 65px;
}

.input-check {
    position: absolute;
    right: -70px;
    z-index: 1;
    opacity: 0;
}

.toggle .text {
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1em;
    z-index: 1;
    text-transform: uppercase;
    pointer-events: none;
    transition: .5s ease;
}

.toggle .text.off {
    opacity: 1;
}

.input-check:checked~.toggle .text.off {
    top: 76px;
    opacity: 0;
}

.toggle .text.on {
    opacity: 0;
}

.input-check:checked~.toggle .text.on {
    top: 76px;
    opacity: 1;
    color: #d400ff;
    text-shadow:
        0 0 15px #d400ff,
        0 0 30px #d400ff,
        0 0 45px #d400ff,
        0 0 60px #d400ff;
}

#error {
    color: red;
    font-size: 0.9em;
}

html,
body {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    overflow: hidden;
}

body {
    background: #ee9ca7;
}

.name {
    font-size: 1.1rem;
    font-weight: 600;
}

#cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
}

/* ============================================== Candle*/

.cake {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 228px;
    left: 50%;
    margin-left: -1.4px;
    margin-top: -8.33333333px;
    width: 6px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
}

#candle2 {
    margin-left: 20px;
}

.cake:after,
.cake:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
}

.cake:after {
    top: 25%;
    left: 0;
}

.cake:before {
    top: 45%;
    left: 0;
}

/* ============================================== Fire
      */

.fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
}

.fuego:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
      */

@keyframes fuego {

    0%,
    100% {
        background: rgba(254, 248, 97, 0.5);
        box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        transform: translateY(0) scale(1);
    }

    50% {
        background: rgba(255, 50, 0, 0.1);
        box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        transform: translateY(-20px) scale(0);
    }
}

@keyframes in {
    to {
        transform: translateY(0);
    }
}

.text {
    color: #8b6a60;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;

    h1 {
        font-size: 1.4em;
    }
}

.body2 {
    height: 100vh;
    /*background-image: radial-gradient(#374566, #010203);*/
    color: #8b6a60;
    letter-spacing: 0.15em;
    font-size: 20px;

}

canvas {
    position: absolute;
    z-index: -1;
    top: 0;
}

#wishes {
    width: 20em;
    /*margin: calc(50vh - 6.7em) auto;*/
    margin: calc(50vh - 15em) auto;
    /*border: 1px dotted;*/
    text-align: center;
    /*background: hsla(332, 71%, 63%, 0.75);*/
    text-shadow: 3px 3px 5px rgba(75, 45, 0, 0.5),
        -3px -3px 5px rgba(230, 203, 52, 0.5);

}

span {
    display: inline-block;
}

span.jump {
    animation: jump 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s 2 alternate;
}

@keyframes jump {
    to {
        transform: translateY(-0.7em);
    }
}

#pleaseClick {
    position: absolute;
    /*background: hsla(332, 71%, 63%, 0.75);*/
    font-size: 80%;
    width: 10em;
    text-align: center;
    left: 123px;
    bottom: 150px;
    /*left: calc(50vw - 5em);
  top: calc(50vh - 12.5em);*/
    animation: jump 1s ease-in-out infinite alternate;
}

#pleaseClick span {
    font-size: 200%;
}

.control {
    text-align: center;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18em;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #374566;
    border-radius: 50%;
    margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 3px solid #333;
    border-radius: 50%;
}

input[type="range"]::-ms-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #777;
    height: 3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    outline: none;
}

input[type="range"]::-moz-range-track {
    background-color: #777;
    height: 3px;
}

input[type="range"]::-ms-track {
    background-color: #777;
    height: 3px;
}

input[type="range"]::-ms-fill-lower {
    background-color: HotPink;
}

input[type="range"]::-ms-fill-upper {
    background-color: black;
}

@media (max-width: 768px) {

    #pleaseClick {
        left: 50%;
        top: 60%;
        font-size: 10px;
    }
}

/* Portrait phones up to iPhone 16 width */
@media (max-width: 430px) {
    #pleaseClick {
        left: 50%;
        top: 63%;
        font-size: 10px;
    }
}


