html,
body {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    overflow: hidden;
}

body {
    background: #ee9ca7;
}

.name {
    font-size: 1.1rem;
    font-weight: 600;
}

#cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
}

/* ============================================== Candle*/

.cake {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 228px;
    left: 50%;
    margin-left: -1.4px;
    margin-top: -8.33333333px;
    width: 6px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
}

#candle2 {
    margin-left: 20px;
}

.cake:after,
.cake:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
}

.cake:after {
    top: 25%;
    left: 0;
}

.cake:before {
    top: 45%;
    left: 0;
}

/* ============================================== Fire
      */

.fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
}

.fuego:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
      */

@keyframes fuego {

    0%,
    100% {
        background: rgba(254, 248, 97, 0.5);
        box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        transform: translateY(0) scale(1);
    }

    50% {
        background: rgba(255, 50, 0, 0.1);
        box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        transform: translateY(-20px) scale(0);
    }
}

@keyframes in {
    to {
        transform: translateY(0);
    }
}

.text {
    color: #8b6a60;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;

    h1 {
        font-size: 1.4em;
    }
}

.body2 {
    height: 100vh;
    /*background-image: radial-gradient(#374566, #010203);*/
    color: #8b6a60;
    letter-spacing: 0.15em;
    font-size: 20px;

}

canvas {
    position: absolute;
    z-index: -1;
    top: 0;
}

#wishes {
    width: 20em;
    /*margin: calc(50vh - 6.7em) auto;*/
    margin: calc(50vh - 15em) auto;
    /*border: 1px dotted;*/
    text-align: center;
    /*background: hsla(332, 71%, 63%, 0.75);*/
    text-shadow: 3px 3px 5px rgba(75, 45, 0, 0.5),
        -3px -3px 5px rgba(230, 203, 52, 0.5);

}

span {
    display: inline-block;
}

span.jump {
    animation: jump 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s 2 alternate;
}

@keyframes jump {
    to {
        transform: translateY(-0.7em);
    }
}

#pleaseClick {
    position: absolute;
    /*background: hsla(332, 71%, 63%, 0.75);*/
    font-size: 80%;
    width: 10em;
    text-align: center;
    left: 123px;
    bottom: 150px;
    /*left: calc(50vw - 5em);
  top: calc(50vh - 12.5em);*/
    animation: jump 1s ease-in-out infinite alternate;
}

#pleaseClick span {
    font-size: 200%;
}

.control {
    text-align: center;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18em;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #374566;
    border-radius: 50%;
    margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 3px solid #333;
    border-radius: 50%;
}

input[type="range"]::-ms-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #777;
    height: 3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    outline: none;
}

input[type="range"]::-moz-range-track {
    background-color: #777;
    height: 3px;
}

input[type="range"]::-ms-track {
    background-color: #777;
    height: 3px;
}

input[type="range"]::-ms-fill-lower {
    background-color: HotPink;
}

input[type="range"]::-ms-fill-upper {
    background-color: black;

}

@media (max-width: 768px) {

    #pleaseClick {
        left: 50%;
        bottom: 220px;
        font-size: 10px;
    }

}




